/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/*--------TAG SELECTORS---------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1A1A1A;
}

/*----------- Header -----------*/

.header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo {
    width: 200px;
}

.nav {
    display: flex;
    gap: 0.5rem;
    padding: 0 20px;
}

.nav li {
    list-style: none;
}


.title {
    margin-top: 100px;
    height: 500px;
    background-image: url(/images/landing.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__h1 {
    color: white;
    text-align: center;
    font-size: 42px;
}

.title__p {
    text-align: center;
    color: white;
    margin: 20px 20%;
}

/* ----------ICONS SECTION------------*/

.icons__h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.icons__triptic {
    display: flex;
    justify-content: space-around;
}

.triptic__part {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.triptic__part img {
    width:100px ;
}

.triptic__part h3 {
    color: #00B172;
}

.triptic__part p {
    margin: 0;
    width: 50%;
    text-align: center;
}

/* ---------GREEN SECTION -------*/

.green {
    background-color: #00B172;
    position: relative;
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green__div {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 50px 0;
    color: white;
}

.green__div h2 {
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.green__div p {
    width: 50%;
    font-weight: lighter;
}

.green__img {
    margin: 20px 50px;
}

.app_img {
    width: 220px;
}

.logo_img {
    width: 100px;
}

.green__logo_img {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
}